<h2>Магазин</h2>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-mdc-card-avatar example-header-image class="example-header-image"></div>
    <mat-card-title>Список товаров</mat-card-title>
  </mat-card-header>
   <img mat-card-avatar src="https://avatars.mds.yandex.net/i?id=7d0af12fa0bded5f3b925541ebd25a0d_l-4593412-images-thumbs&n=13" alt="Photo in Shop">

<form [formGroup]="shopForm" (ngSubmit)="buy()">

  <label for="cardNumber">Выберите карту:</label>
  <select id="cardNumber" formControlName="cardNumber">
    <option [ngValue]="null" disabled>-- Выберите карту --</option>
    <option *ngFor="let card of creditCards" [value]="card.number">
      {{ card.number }} - Баланс: {{ card.balance | currency:'USD' }}
    </option>
  </select>

  <label for="product">Выберите продукт:</label>
  <select id="product" formControlName="productId">
    <option [ngValue]="null" disabled>-- Выберите продукт --</option>
    <option *ngFor="let product of products" [value]="product.id">
      {{ product.name }} - {{ product.price | currency:'USD' }}
    </option>
  </select>

  <label for="quantity">Количество:</label>
  <input type="number" id="quantity" formControlName="quantity" min="1" />

  <p>Итого к оплате: {{ totalCost | currency:'USD' }}</p>

  <button type="submit" [disabled]="shopForm.invalid">Купить</button>
</form>

<p *ngIf="purchaseMessage">{{ purchaseMessage }}</p>
